<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Loewenstark_TableratesTax>
            <version>0.0.0.1</version>
        </Loewenstark_TableratesTax>
    </modules>
    <global>
        <helpers>
            <tablerates_tax>
                <class>Loewenstark_TableratesTax_Helper</class>
            </tablerates_tax>
        </helpers>
        <models>
            <tablerates_tax>
                <class>Loewenstark_TableratesTax_Model</class>
            </tablerates_tax>
            <shipping>
                <rewrite>
                    <!-- Mage_Shipping_Model_Carrier_Tablerate //-->
                    <carrier_tablerate>Loewenstark_TableratesTax_Model_Shipping_Carrier_Tablerate</carrier_tablerate>
                </rewrite>
            </shipping>
        </models>
    </global>
</config>